[user]
	name = Bastian Hofmann
	email = bashofmann@gmail.com 
[alias]
    l = log --pretty=format:'%h %Cred%ad%Creset %an %Cgreen%s%Creset' --graph --date=short
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
    editor = vim
	autocrlf = input
    eol = lf
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[diff]
    compactionHeuristic = true
[rebase]
    autostash = true
[ssh]
	variant = ssh
[ghq]
    root = ~/dev/src
[pager]
    fdiff = diff-so-fancy | less --tabs=1,5 -RFX
    fshow = diff-so-fancy | less --tabs=1,5 -RFX
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[interactive]
    diffFilter = delta --color-only    
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	first-run = false
